/* CSS Document */
.page-header {
  background-color: #090909;
  min-height: 50px;
  padding: 20px 0;
  text-align: left;
}
.page-header .breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
}
.page-header .breadcrumb-item a {
  text-decoration: none;
  color: var(--site-color);
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: .5rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: .5rem;
  color: #6c757d;
  content: var(--bs-breadcrumb-divider, "-");
}
.breadcrumb-item.active {
  color: #6c757d;
}
.page-header .post_views {
  color: #ccc;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}
@media only screen and (max-width:991.9px) {
  .main__article h1 {
    font-size: 2rem !important;
    line-height: 38px !important
  }
  /*
  .main__article h2 {
    font-size: 22px
  }
  .main__article h3 {
    font-size: 15px
  }
  .main__article h4 {
    font-size: 14px
  }
  .main__article h5 {
    font-size: 14px
  }
  .main__article h6 {
    font-size: 14px
  }
*/
}
@media only screen and (max-width:767.9px) {
  .main__article h1 {
    font-size: 1.875rem !important;
  }
  .main__article > ol li, .main__article > ul li {
    margin-left: 15px
  }
}
@media only screen and (max-width:500px) {
  .page-header {
    display: none;
  }
  .main__article h1 {
    font-size: 1.675rem !important;
    line-height: 34px !important;
    font-weight: 500;
  }
  .main__article > ol li, .main__article > ul li {
    margin-left: 10px
  }
  .main__article ul {
    padding-left: 0px;
  }
  .main__article > ul {
    padding-left: 0px;
  }
}
@media only screen and (max-width:400px) {}
.main__article {
  overflow: hidden;
}
.related_links a {
  color: #930;
  text-decoration: underline;
  font-weight: 600
}
.related_links a:hover {
  color: var(--site-color);
  transition: all 1s;
}
.main__article h1 {
  text-transform: none;
  font-family: Montserrat, sans-serif;
  line-height: 45px;
  letter-spacing: .64px;
  font-weight: 600;
  font-style: normal;
  color: var(--site-color);
  font-size: 2.25rem;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .24s ease-in-out;
  -o-transition: opacity .24s ease-in-out;
  transition: opacity .24s ease-in-out
}
.main__article h3 {
  font-family: Montserrat, sans-serif;
  line-height: 36px;
  letter-spacing: .64px;
  font-weight: 600;
  font-style: normal;
  color: #282828;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .24s ease-in-out;
  -o-transition: opacity .24s ease-in-out;
  transition: opacity .24s ease-in-out;
  text-rendering: inherit;
  -webkit-font-smoothing: inherit
}
.main__article h6 {
  font-family: Montserrat, sans-serif;
  line-height: 24px;
  letter-spacing: .64px;
  font-weight: 600;
  font-style: normal;
  color: #1f1f1f;
}
.main__article img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  width: auto;
}
.main__article > ul {
  text-align: left
}
.main__article > ul > li {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: .08em;
  color: #000;
  list-style: none;
  margin-left: 0px;
  padding-left: 30px;
  position: relative;
}
.main__article > ol {
  text-align: left;
}
.main__article > ol > li {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: .08em;
  color: #000;
  list-style: none;
  margin-left: 0px;
  padding-left: 30px;
  position: relative;
  counter-increment: my-awesome-counter
}
.main__article > ol > li::before {
  content: counter(my-awesome-counter) ". ";
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  margin-right: 10px;
  font-weight: 900;
  color: var(--site-color);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  top: 0;
  left: 0;
  position: absolute;
}
.main__article > ol > li:hover::before {
  background: var(--site-color);
  color: #fff
}
.main__article > ul > li::before, .main__article table tbody ul li::before {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: var(--site-color);
  border-radius: 50%;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  text-align: center;
  top: 0;
  left: 0;
  position: absolute;
}
.main__article > ul > li:hover::before, table tbody ul li:hover::before {
  background: var(--site-color);
  color: #fff
}
.main__article p {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.5px;
  color: #1f1f1f;
  margin-bottom: 25px;
  font-style: normal;
  font-family: Lato, sans-serif;
  text-align: justify;
  margin: 1rem 0;
  text-rendering: optimizeLegibility
}
.main__article p a {
  color: #930;
  text-decoration: underline;
  font-weight: 600;
}
.main__article p a:hover {
  color: var(--site-color);
}
.main__article h4 {
  font-family: Montserrat, sans-serif;
  line-height: 24px;
  letter-spacing: .64px;
  font-weight: 600;
  font-style: normal;
  color: #1f1f1f;
  /*  font-size: 18px;*/
}
/*
.main__article h1 {
  font-size: 28px ;
  text-align: left
}
.main__article h2 {
  font-size: 24px
}
.main__article h3 {
  font-size: 20px
}
.main__article h4 {
  font-size: 16px
}
.main__article h5 {
  font-size: 16px
}
.main__article h6 {
  font-size: 16px
}
*/
.main__article ul {
  text-align: left;
  list-style: none;
}
.main__article ul li {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: .08em;
  color: #000;
  list-style: none;
  display: flex;
  padding-left: 30px;
  position: relative;
}
.main__article ul li i {
  margin-right: 5px
}
.detail-box {
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid rgba(128, 137, 150, 0.1);
  padding: 30px;
  height: 100%;
}
.detail-box:hover {
  border: 1px solid var(--site-color);
}
.detail-icon {
  height: 35px;
  width: 35px;
  background-color: var(--site-color);
  border-radius: 50%;
  float: left;
  line-height: 35px;
  margin-right: 10px;
  position: relative;
  top: 5px;
  text-align: center;
}
.detail-icon .fa {
  font-size: 14px;
  color: #fff;
}
.detail-box:hover .detail-icon {
  background-color: var(--hvr-siteclr)
}
.detail-box:hover .detail-info h4 {
  color: var(--hvr-siteclr)
}
.detail-info {
  padding-left: 50px;
}
.detail-info h4 {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 0;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 27px;
  color: #1f1f1f
}
.detail-info p {
  font-size: 14px;
  color: #777;
  line-height: 24px;
  margin: 0 0 20px;
  letter-spacing: 1px;
  text-align: left;
}
/*Youtbe Video*/
.youtube {
  position: relative;
  cursor: pointer;
  background: #ccc no-repeat center center/cover;
  padding-bottom: 56.25%;
  height: 0;
  clear: both
}
.youtube::before {
  content: '';
  background: rgba(255, 255, 255, .6);
  height: 80px;
  width: 80px;
  display: block;
  margin: -40px 0 0 -40px;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 20px 3px rgba(51, 51, 51, .8);
  transition: all .1s ease;
  z-index: 1
}
.youtube:hover::before {
  background: rgba(238, 238, 238, .8);
  box-shadow: 0 0 10px 3px rgba(51, 51, 51, .8);
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px
}
.youtube::after {
  content: '';
  width: 0;
  height: 0;
  line-height: 0;
  display: block;
  border-style: solid;
  border-width: 20px 0 20px 40px;
  margin: -20px 0 0 -15px;
  border-color: transparent transparent transparent #333;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2
}
.youtube iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3
}
/*Skills Section */
.section__skills {
  padding: 0 !important;
}
.skills h2 {
  text-align: left;
}
.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-direction: column;
}
.skills__title {
  text-align: left;
  margin-right: auto;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  color: var(--lit-color);
}
.skills__outer {
  width: 100%;
  height: 20px;
  border-radius: 3px;
  background-color: #eee;
  position: relative;
}
.skills__outer span {
  position: absolute;
  width: 100%;
  text-align: center;
  display: block;
  top: -10%;
  color: #fff;
}
.skills__inner {
  width: 0%;
  height: 20px;
  border-radius: 3px;
  background-color: var(--site-color);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  z-index: 1;
  background-size: 50px 50px;
  animation: move 8s linear infinite;
  box-shadow: inset 0 2px 9px rgb(255 255 255 / 30%), inset 0 -2px 6px rgb(0 0 0 / 40%);
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
.skills__image img {
  width: 100%;
  display: block;
  padding-top: 5%;
}
.accordion-item {
  margin: 10px 0px;
}
.accordion-item:first-of-type, .accordion-item:last-of-type {
  border-radius: 0;
}
.accordion-button:not(.collapsed) {
  color: var(--site-color);
  background-color: #f5f5f5;
}
button:focus:not(:focus-visible) {
  box-shadow: none;
}
.accordion-button::before {
  counter-increment: faqs;
  content: counter(faqs) ". ";
  display: inline-block;
  color: #00abc9;
  font-weight: 700;
  margin-right: 10px;
}
.accordion-body {
  font-family: Lato, sans-serif;
  line-height: 27px;
  letter-spacing: 1.12px;
  font-weight: 500;
  font-style: normal;
  color: #515151;
  font-size: 13px;
}
.accordion-button {
  font-weight: 600;
}
.postmeta {
  border-bottom: 1px solid #ccc;
  padding-top: 0;
  padding-bottom: 10px;
  margin-bottom: 8px;
}
.postmeta ul li {
  color: #999 !important;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: .04em;
  padding-right: 20px;
  padding-left: 0px;
  margin-right: 20px;
  position: relative;
  align-items: center
}
.postmeta ul li a:hover {
  color: var(--site-color)
}
.postmeta ul li:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 15px;
  top: 5px;
  right: 0;
  background-color: #00abc9;
  position: absolute;
}
/*tob table of content */
.tb-content {
  background-image: url("../../images/post-bg.png");
  background-size: cover;
  margin-top: 26px;
  padding-bottom: 15px;
  border: 2px solid #ccc;
}
.tb-content legend {
  margin-left: 20px;
  font-weight: 700;
  text-transform: capitalize;
  left: 50%;
  color: #191919;
  font-size: 22px;
  padding: 0 10px;
  max-width: 28%;
  float: none;
}
.tb-content .outer {
  width: 100%;
  padding: 2px 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}
.tb-content ol {
  counter-reset: item;
}
.tb-content ol li {
  display: table;
  padding: 5px 0;
}
.tb-content li:before {
  content: counters(item, ".") "-";
  color: var(--site-color);
  display: table-cell;
  text-align: right;
  padding: 2px 5px;
  counter-increment: item;
}
.tb-content ol a {
  color: var(--site-color);
  display: inline;
  font-weight: 600;
  padding: .5rem .1rem;
  text-decoration: none;
}
.tb-content ol a:hover {
  color: var(--hvr-siteclr);
}
.tb-content .outer .nested-1 {
  padding: 8px 0 !important;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
}
.main__article table tr th > h3 {
  font-size: 1rem !important;
  color: #fff !important;
  line-height: inherit;
  margin: 0px;
}
table tr td ul li {
  font-size: 1rem !important;
}
@media only screen and (max-width:1399.9px) {
  .tb-content legend {
    max-width: 31%;
  }
}
@media only screen and (max-width:991.9px) {
  .tb-content legend {
    max-width: 38%;
  }
  .tb-content .outer {
    width: 100%;
    padding: 2px 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: justify;
  }
}
/* facebook comments */
.fb-comments-plugin {
  width: 100%;
  padding: 2%;
  background-color: #f4f4f4;
  color: var(--site-color);
  font-family: "Open Sans";
}
.fb-comments-plugin h4 {
  color: #08c;
  font-size: 22px;
  margin: 10px 0;
  text-align: left;
  font-weight: bold;
}
/*Section Main*/
.aside__item {
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.aside .icon, .aside h2 {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 1.7;
  font-family: Montserrat, sans-serif;
  text-align: left;
  margin-left: 0;
  margin-top: 10px;
}
.aside .icon {
  margin-right: 10px;
  padding: 0;
}
.aside__item .carousel .carousel-item .aside__header {
  height: 150px;
}
.aside__item .carousel .carousel-item img {
  object-fit: cover
}
.aside__body {
  padding: 10px;
  padding-bottom: 20px;
  width: 100%;
  background-color: rgba(204, 204, 204, .2);
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .08em;
  font-weight: 500;
  color: #000;
  text-rendering: optimizeLegibility;
}
.aside__body a {
  font-family: Montserrat, sans-serif;
}
.aside__body h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}
.aside__header img {
  width: 100%;
}
.aside__body .h2-sub {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: .04em;
  color: #7f7f7f;
  margin-bottom: 10px;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-family: Lato, sans-serif;
}
.aside__body li {
  margin: 5px 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: .04em;
  text-align: center;
}
.aside__body li .icon {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: .04em;
  padding: 0;
  margin: 0 1rem 0 0;
}
.aside__body .text {
  font-family: Montserrat, sans-serif;
}
.aside__ul li {
  position: relative;
  display: block;
  padding: 20px 20px;
  background-color: #eee;
  margin-bottom: 2px;
  text-align: left;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  border: 2px solid transparent;
  border-left: 2px solid var(--site-color);
}
.aside__ul a {
  font-family: Montserrat, sans-serif;
  color: #171717;
  text-decoration: none;
  font-size: 13px;
  line-height: 27px;
  letter-spacing: .04em;
  font-weight: 500;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.aside__ul li:hover {
  border: 2px solid var(--site-color);
}
.aside__ul li:hover a {
  color: var(--site-color);
}
.aside__body {
  padding: 10px;
  padding-bottom: 20px;
  width: 100%;
  background-color: rgba(204, 204, 204, .2);
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .08em;
  font-weight: 500;
  color: #000;
  text-rendering: optimizeLegibility;
}
.aside__body p {
  color: #555;
  font-family: Lato, sans-serif;
  line-height: 27px;
  letter-spacing: 1.12px;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  margin: 0px;
}
.aside__body p:hover {
  color: var(--site-color)
}
.aside__item .carousel-control-next, .carousel-control-prev {
  top: 35%;
  width: 40px;
  height: 40px;
  opacity: 1;
  background-color: var(--site-color);
}
.googleads img {
  height: auto;
}
/*sidebar ends*/